<header class="bg-blue-700 text-white p-6 shadow-lg fixed w-full top-0 z-50">
    <nav class="container mx-auto flex justify-between items-center">
        <h1 class="text-4xl font-extrabold">Sistema Médico</h1>
        <a href="/Clinica_D_sistemas2/Proyecto_final/views/Usuario/login.php" class="bg-white text-blue-700 font-bold py-2 px-6 rounded-lg hover:bg-gray-200 transition duration-300">Iniciar Sesión</a>
        <a href="/Clinica_D_sistemas2/Proyecto_final/views/Usuario\registro.php" class="bg-white text-blue-700 font-bold py-2 px-6 rounded-lg hover:bg-gray-200 transition duration-300">Registrarse</a>
        <a href="/Clinica_D_sistemas2/Proyecto_final/views/Recordatorio/enviar_recordatorio.php" class="bg-white text-blue-700 font-bold py-2 px-6 rounded-lg hover:bg-gray-200 transition duration-300">Recordatorio</a></nav>
</header>